{% extends "e_base.twig" %}

{% block title %}Jobstreet.io | No. 1 Job Posting Site{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/style.css">
    {{ parent() }}
{% endblock %}

{% block section %}
    <section class="hero-section bg-color" style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card-deck">
                        {% for i in range(0, count-1) %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col pl-0">
                                                <h5 class="link-title-color" style="margin-bottom: 10px">
                                                    <a href="/v1/employer/applicants/vacancy/{{ vacancies[i].vacancy_id }}/view" class="card-title">
                                                        {{ vacancies[i].v_name }}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <ul id="job_desc_summary" class="list-unstyled" style="margin-top: 5px;">
                                        <li id="job_salary" class="job-salary">
                                            <i class="icon fas fa-dollar-sign"></i>
                                            <span>MYR {{ vacancies[i].v_salary }}</span>
                                        </li>
                                        <li id="job_location" class="job-location">
                                            <i class="icon fas fa-location-arrow"></i>
                                            <span>{{ vacancies[i].v_state }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <i class="icon fas fa-angle-up"></i>
                                    <small class="text-muted">Closing date: {{ vacancies[i].v_closing_date }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card search-card">
                        <div class="card-body">
                            <h5 class="card-title">Review Applicants</h5>
                            <p>Review applicants who applied for position in your company! Pick a job, view an applicant's profile and select whether their application is received, not suitable for the position or they will be scheduled for an interview.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}