{% extends "base.twig" %}

{% block title %}Jobs in Malaysia | Jobstreet{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <div class="row">
                    <div class="main-menu col align-self-start">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/v1/vacancies/all">Search Jobs</a></li>
                    </div>
                    <div class="user-panel col align-self-end text-right">
                        <button id="header-login-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#login-panel">Login</button>
                        <span>/</span>
                        <button id="header-register-btn" class="btn btn-link" type="submit" data-toggle="modal"
                                data-target="#register-panel">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <section class="hero-section bg-color" style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card search-card">
                        <div class="card-body">
                            <h5 class="card-title">Search Criteria</h5>
                            <form class="search-card" action="" method="post">
                                <div class="form-group">
                                    <input type="text" id="card-job-keyword" class="form-control" placeholder="Job Keywords">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="card-job-location" class="form-control" placeholder="Location">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="card-job-min-salary" class="form-control" placeholder="Min. Salary (MYR)">
                                </div>
                                <button class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        {% for i in range(0, count-1) %}
                            <div class="card-body">
                                <h5 class="link-title-color" style="margin-bottom: 10px">
                                    <a href class="card-title">
                                        {{ vacancies[i].v_name }}
                                    </a>
                                </h5>
                                <h6><a href="#" class="card-subtitle mb-2 card-link">{{ vacancies[i].company_name }}</a></h6>
                                <ul id="job_desc_summary" class="list-unstyled" style="margin-top: 5px;">
                                    <li id="job_salary" class="job-salary">
                                        <i class="icon fas fa-dollar-sign"></i>
                                        <span>{{ vacancies[i].v_salary }}</span>
                                    </li>
                                    <li id="job_location" class="job-location">
                                        <i class="icon fas fa-location-arrow"></i>
                                        <span>{{ vacancies[i].v_location }}</span>
                                    </li>
                                </ul>
                                <p class="card-text">{{ vacancies[i].v_desc }}</p>
                            </div>
                            <div class="card-footer">
                                <i class="icon fas fa-angle-up"></i>
                                <small class="text-muted">Closing date: {{ vacancies[i].v_closing_date }}</small>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}