{% extends "base.twig" %}

{% block title %}Jobstreet.io | No. 1 Job Posting Site{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/style.css">
    {{ parent() }}
{% endblock %}

{% block header %}
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <div class="row">
                    <div class="main-menu col align-self-start">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/v1/vacancies/all">Search Jobs</a></li>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <section class="hero-section bg-color" style="padding-top: 40px">
        {% for i in range(0, 0) %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card col-separation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col offset-md-1" style="padding-top: 10px">
                                        <h5 class="card-title"><strong>{{ employer[i].company_name }}</strong></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col offset-md-1" style="padding-top: 10px">
                                        <i class="icon fas fa-location-arrow" style="color: red"></i>
                                        <span>Headquarters: {{ employer[i].location }}</span>
                                    </div>
                                    <div class="col offset-md-1" style="padding-top: 10px">
                                        <i class="icon fas fa-industry" style="color: blue"></i>
                                        <span>Industry: {{ employer[i].company_industry }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card col-separation">
                            <div class="card-body">
                                <h2 class="title">COMPANY OVERVIEW</h2>
                                <div id="employer_company_overview" class="text-justify vacancy-details-small pre-wrap-text">
                                    {{ employer[i].background }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card col-separation">
                            <div class="card-body">
                                <h2 class="title">COMPANY SNAPSHOT</h2>
                                <div id="company-snapshot" class="text-justify vacancy-details-small">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div>
                                                <strong>Website:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                <a href="http://{{ vacancy_details[i].company_website }}">
                                                    {{ employer[i].company_website }}</a>
                                            </div>
                                            <div>
                                                <strong>Company Benefits:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                {{ employer[i].company_benefits }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <strong>Company Work Hours:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                {{ employer[i].company_work_hours }}
                                            </div>
                                            <div>
                                                <strong>Company Size:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                {{ employer[i].company_size }} Employees
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <strong>Spoken Language:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                {{ employer[i].spoken_language }}
                                            </div>
                                            <div>
                                                <strong>Company Dress Code:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                {{ employer[i].dress_code }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card col-separation">
                            <div class="card-body">
                                <h2 class="title">APPLY FOR OPEN POSITIONS</h2>
                                <div id="employer_company_overview" class="text-justify vacancy-details-small">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="card-deck">
                                                    {% for x in range(0, count-1) %}
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h5 class="link-title-color" style="margin-bottom: 10px">
                                                                    <a href="/v1/employer/vacancy/{{ employer[x].vacancy_id }}"
                                                                       class="card-title">
                                                                        {{ employer[x].v_name }}
                                                                    </a>
                                                                </h5>
                                                                {#                                                                <h6><a href="#" class="card-subtitle mb-2 card-link">#}
                                                                {#                                                                        {{ employer[x].company_name }}</a></h6>#}
                                                                <ul id="job_desc_summary" class="list-unstyled" style="margin-top: 5px;">
                                                                    <li id="job_position" class="job-position">
                                                                        <i class="icon fas fa-suitcase"></i>
                                                                        <span>{{ employer[x].v_position }}</span>
                                                                    </li>
                                                                    <li id="job_salary" class="job-salary">
                                                                        <i class="icon fas fa-dollar-sign" style="font-size: 20px"></i>
                                                                        <span>MYR {{ employer[x].v_salary }}</span>
                                                                    </li>
                                                                    <li id="job_location" class="job-location">
                                                                        <i class="icon fas fa-location-arrow"></i>
                                                                        <span>{{ employer[x].v_state }}</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}