<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Jobstreet Applications</title>
    <meta name="description" content="This is a test project developed to enhance my web development skills. This is
        influenced by Jobstreet.com which is the no. 1 recruitment site in Malaysia with over 29,000 vacancies to find
        your next career opportunity.">
    <!-- Stylesheets -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <!--<link rel="stylesheet" href="../css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<header class="header-section bg-color" style="padding-bottom: 40px;">
    <div class="header-warp">
        <div class="container">
            <div class="row">
                <div class="main-menu col align-self-start">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="/v1/employee/profile">My Profile</a></li>
                    <li><a href="/v1/employee/profile/vacancies_applied">My Applications</a></li>
                </div>
                <div class="user-panel col align-self-end col-md-auto">
                    <form method="post" action="/v1/employee/logout">
                        Hello, {{ name }}! <button id="header-logout-btn" class="btn btn-link">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="hero-section bg-color">
    <div class="container">
        <div class="card d-flex justify-content-center" style="margin-left: 15%; margin-right: 15%;">
            <div class="card-header">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="active-app-tab" data-toggle="tab" href="#active-app"
                               role="tab" aria-controls="home" aria-selected="true">Active Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="all-app-tab" data-toggle="tab" href="#all-app"
                               role="tab" aria-controls="home" aria-selected="true">All Applications ({{ count }})</a>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active" id="active-app" role="tabpanel" aria-labelledby="active-app-tab">
                        {% for i in range(0, count-1) %}
                            <h6 class="card-title">{{ applications[i].v_name }} ({{ applications[i].company_name }})</h6>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Date Submitted</b>
                                </p>
                                <p class="card-text col-md-4 offset-md-2">
                                    {{ applications[i].date_submitted }}
                                </p>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Application Status</b>
                                </p>
                                <p class="card-text col-md-4 offset-md-2">
                                    {{ applications[i].application_status }}
                                </p>
                            </div>
                            <hr class="horizontal-line">
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="all-app" role="tabpanel" aria-labelledby="all-app-tab">
                        {% for i in range(0, count-1) %}
                            <h6 class="card-title">{{ applications[i].v_name }}
                                (<a href="#">{{ applications[i].company_name }}</a>)</h6>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Date Submitted</b>
                                </p>
                                <p class="card-text col-md-4 offset-md-2">
                                    {{ applications[i].date_submitted }}
                                </p>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Application Status</b>
                                </p>
                                <p class="card-text col-md-4 offset-md-2">
                                    {{ applications[i].application_status }}
                                </p>
                            </div>
                            <hr class="horizontal-line">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer class="footer-section pb-1">
    <div class="container">
        <div class="footer-bottom align-items-center">
            <ul class="footer-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Send Feedback</a></li>
                <li><a href="#">Work With Us</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-white text-center">
                    Copyright © 2019 All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
</html>