{% extends "base.twig" %}

{% block title %}Jobstreet | My Jobstreet Profile{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block section %}
    {% for i in range(0, 0) %}
    <section class="hero-section bg-color" style="padding-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="profile-picture card-img-top" src="../../img/20190614_173020.jpeg" alt="Profile Picture">
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col align-self-start">
                                    <h5>{{ name }} {{ last_name }}</h5>
                                </div>
                                <div class="col align-self-end">
                                    <a class="btn btn-link float-right" id="edit-profile-btn"
                                       href="/v1/employee/profile/{{ id }}/edit">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">About Me</h6>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Gender</b>
                                </p>
                                <p class="card-text col-md-2 offset-md-2">
                                    {{ ep[i].gender }}
                                </p>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Age</b>
                                </p>
                                <p class="card-text col-md-2 offset-md-2">
                                    {{ ep[i].age }} years
                                </p>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Nationality</b>
                                </p>
                                <p class="card-text col-md-2 offset-md-2">
                                    {{ ep[i].nationality }}
                                </p>
                            </div>
                            <hr class="horizontal-line">


                            <h6 class="card-title">Education</h6>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>{{ ep[i].grad_month }} {{ ep[i].grad_year }}</b>
                                </p>
                                <p class="card-text col-md-6 offset-md-2">
                                    {{ ep[i].qualification }} in {{ ep[i].major }}
                                </p>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">
                                </p>
                                <p class="card-text col-md-6 offset-md-2">
                                    {{ ep[i].institute }}
                                </p>
                            </div>

                            <hr class="horizontal-line">
                            <h6 class="card-title">Experience</h6>
                            <p class="card-text">
                                {{ ep[i].experience }}
                            </p>
                            <hr class="horizontal-line">
                            <h6 class="card-title">Skills</h6>
                            <p class="card-text">
                                {{ ep[i].skills }}
                            </p>
                            <hr class="horizontal-line">
                            <h6 class="card-title">Languages</h6>
                            <p class="card-text">
                                {{ ep[i].language }}
                            </p>
                            <hr class="horizontal-line">
                            <h6 class="card-title">Additional Info</h6>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Expected Salary</b>
                                </p>
                                <p class="card-text col-md-6 offset-md-2">
                                    RM {{ ep[i].expected_salary }}
                                </p>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">
                                    <b>Preferred Work Location</b>
                                </p>
                                <p class="card-text col-md-6 offset-md-2">
                                    {{ ep[i].location }}
                                </p>
                                <p class="card-text col align-self-end"></p>
                            </div>
                            <hr class="horizontal-line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}
{% endblock %}