{% extends "a_base.twig" %}

{% block title %}Jobstreet.io | No. 1 Job Posting Site{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/css/style.css">
    {{ parent() }}
{% endblock %}

{% block section %}
    <section class="hero-section bg-color" style="padding-top: 40px">
        {% for i in range(0, 0) %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card col-separation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col offset-md-1" style="padding-top: 12px">
                                        <h5 class="card-title">{{ vacancy_details[i].v_name }}</h5>
                                        <h6><a href="#" class="card-subtitle mb-2 card-link text-light-weight">
                                                {{ vacancy_details[i].company_name }}</a></h6>
                                    </div>
                                    <div class="col align-self-end offset-md-4 vacancy_summary">
                                        <ul id="job_desc_summary" class="list-unstyled" style="margin-top: 5px;">
                                            <li id="job_salary" class="job-salary">
                                                <i class="icon fas fa-dollar-sign" style="color:green"></i>
                                                <span>{{ vacancy_details[i].v_salary }}</span>
                                            </li>
                                            <li id="job_position" class="job-position">
                                                <i class="icon fas fa-suitcase" style="color:blue"></i>
                                                <span>{{ vacancy_details[i].v_position }}</span>
                                            </li>
                                            <li id="job_location" class="job-location">
                                                <i class="icon fas fa-location-arrow" style="color:red"></i>
                                                <span>{{ vacancy_details[i].v_state }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card col-separation">
                                    <div class="card-body">
                                        <h2 class="title">JOB DESCRIPTION</h2>
                                        <div id="job-desc" class="text-justify vacancy-details-small">
                                            <div>
                                                <strong>Responsibilities:</strong>
                                            </div>
                                            <p class="vacancy-details-body col-sm-12 pre-wrap-text">
                                                {{ vacancy_details[i].v_desc }}
                                            </p>
                                            <div>
                                                <strong>Requirements:</strong>
                                            </div>
                                            <p class="vacancy-details-body col-sm-12 pre-wrap-text">
                                                {{ vacancy_details[i].v_requirements }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card col-separation">
                                    <div class="card-body">
                                        <h2 class="title">WORK LOCATION</h2>
                                        <div id="company-snapshot" class="text-justify vacancy-details-small">
                                            <div>
                                                <strong>Address:</strong>
                                            </div>
                                            <div class="vacancy-details-body vacancy-details-small">
                                                {{ vacancy_details[i].v_address }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card col-separation">
                                    <div class="card-body d-inline-flex">
                                        <div class="col align-self-start">
                                            <p>
                                                Closing date: {{ vacancy_details[i].v_closing_date }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card col-separation">
                                    <div class="card-body">
                                        <h2 class="title">COMPANY SNAPSHOT</h2>
                                        <div id="company-snapshot" class="text-justify vacancy-details-small">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div>
                                                        <strong>Website:</strong>
                                                    </div>
                                                    <div class="vacancy-details-body vacancy-details-small">
                                                        <a href="http://{{ vacancy_details[i].company_website }}">
                                                            {{ vacancy_details[i].company_website }}</a>
                                                    </div>
                                                    <div>
                                                        <strong>Company Benefits:</strong>
                                                    </div>
                                                    <div class="vacancy-details-body vacancy-details-small">
                                                        {{ vacancy_details[i].company_benefits }}
                                                    </div>
                                                    <div>
                                                        <strong>Spoken Language:</strong>
                                                    </div>
                                                    <div class="vacancy-details-body vacancy-details-small">
                                                        {{ vacancy_details[i].spoken_language }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div>
                                                        <strong>Company Dress Code:</strong>
                                                    </div>
                                                    <div class="vacancy-details-body vacancy-details-small">
                                                        {{ vacancy_details[i].dress_code }}
                                                    </div>
                                                    <div>
                                                        <strong>Company Size:</strong>
                                                    </div>
                                                    <div class="vacancy-details-body vacancy-details-small">
                                                        {{ vacancy_details[i].company_size }} Employees
                                                    </div>
                                                    <div>
                                                        <strong>Company Work Hours:</strong>
                                                    </div>
                                                    <div class="vacancy-details-body vacancy-details-small">
                                                        {{ vacancy_details[i].company_work_hours }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card col-separation">
                                    <div class="card-body">
                                        <h2 class="title">COMPANY OVERVIEW</h2>
                                        <div id="company-snapshot" class="text-justify vacancy-details-small">
                                            <p class="vacancy-details-body vacancy-details-small pre-wrap-text">
                                                {{ vacancy_details[i].background }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

